.delete-button:hover {
  background-color: red;
  color: white;
}

.start-button:hover, .start-button[disabled] {
  background-color: green;
  color: white;
}

.stop-button:hover, .stop-button[enabled] {
  background-color: red;
  color: white;
}

.save-button, .download-button {
  object-fit: fill;
}

.recording-text {
  color: green;
  font-size: 1.75em;

}

.video-buttons {
 width: 45%;
 align-self: center;
}

video {
  width: 100;
}

.stop-text {
  color: red;
  font-size: 1.75em;
}

.start-button, .stop-button, .regular-stop-button, .play-button, .save-button, .download-button {
  height: 2em;
  width: 8.8em;
  font-size: 1.5em;
} 

.after-recorded-buttons {
  margin-top: 1em;
}