.progress-bar {
    position: relative;
    width: 50%;
    height: 2em;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em; 
    overflow: hidden;
    position: relative;
    align-items: center; 
    justify-content: center;
    display: flex; 
    padding: 5px;
 
  }
  
  .progress-bar-fill {
    position: absolute; 
    top: 0;
     left: 0;
    height: 2em;
    background-color: #2fba54;
    transition: width 0.3s ease-in-out; 
    border-radius: 1em; 
    align-items: center; 
    justify-content: center;
    font-weight: bold;
    z-index: 1;
  }
  
  .progress-bar-text {
    z-index: 2; 
    position: relative; 
    color: black; 
  }
  