.delete-button:hover {
  background-color: red;
  color: white;
}

.start-button:hover {
  background-color: green;
  color: white;
}

.stop-button:hover {
  background-color: red;
  color: white;
}


.trim-button:disabled {
  background-color: #cccccc; /* Muted red color when disabled */
  color: #808080; /* Text color for disabled state cccccc */ 
}

.trim-button:enabled {
  background-color: #e73512; /* Brighter red color when enabled */
  color: #ffffff; /* Text color for enabled state */
}
